.topnavbar-section {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: cadetblue;

    .navbar-brand {
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        font-size: 25px;
        margin-right: 50px;

        img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
    .button{
        display: none;
    }
    .items-container {
        flex: 1 1;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.mobil{
            position: absolute;
            top: 40px;
            right: 0;
            left: 0;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.9);
            padding: 20px;
        }
        &.mobil .nav-items {
            display: flex!important;
            flex-direction: column;
        }
        &.mobil .delete-btn {
            display: block!important;
        }
        
    }

    .nav-item {
        float: left;
        color: #f2f2f2;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;

        &:hover {
            background-color: $background-color;
            color: black;
        }
    }

    .delete-btn.logout {
        border-radius: 20px;
    }
}

@media screen and (max-width:768px) {
    // .items-container.mobil .nav-items{
    //     display: flex;
    //     flex-direction: column;
    // }
    // .items-container.mobil{
    //     position: absolute;
    //     top: 40px;
    //     right: 0;
    //     left: 0;
    //     flex-direction: column;
    //     background-color: rgba(0, 0, 0, 0.9);
    //     padding: 20px;
    // }
    .button{
        display: block!important;
        position: absolute;
        top: 5px;
        right: 10px;
        padding: 4px;
        width: 30px;
    }
    .delete-btn.logout {
        margin-top: 10px;
    }
    .nav-items{
        display: none!important;
    }
    .delete-btn.logout{
        display: none!important;
    }

}
