.pageLoader-section{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;

    .loader{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 5px solid white;
        border-left-color: transparent;
        animation: myfirst 2s linear infinite;
    }
}
@keyframes myfirst {
    0%   {rotate:0deg;}
    100% {rotate: 360deg;}
  }