.student-table-section {
    padding: 0px 15px;
    height: auto;
    overflow: auto;

    table, th, td {
        border: 1px solid black;
        padding: 7px;
        font-size: 19px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;

      
    }
    .button-box{
        // display: flex;
        // justify-content: center;
        // border: none;
        text-wrap: nowrap;
    }
}