.student-form-modal-section {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 40px 20px;


    .student-modal-box {
        width: 80%;
        position: relative;

        .form {
            background-color: white;
            padding: 50px 25px;

            .close-button {
                position: absolute;
                top: 12px;
                right: 20px;
                width: 20px;
                height: 20px;
                background-color: red;
                border-radius: 50%;
                color: white;
                display: flex;
                justify-content: center;
                cursor: pointer;
            }

            .form-section {
                display: grid;
                grid-template-columns: auto auto auto;
            }

            .form-group {
                width: 90%;
                margin-bottom: 40px;

                label {
                    display: block;
                }

                input {
                    width: 100%;
                    padding: 8px 5px;
                    margin-top: 5px;
                }

                select {
                    width: 100%;
                    padding: 8px 5px;
                    margin-top: 5px;
                }
            }

            .button-section {
                display: flex;
                justify-content: end;
                .button {
                    // display: block;
                    // margin: auto;
                    // padding: 7px 13px;
                    // font-size: 18px;
                    // border-radius: 5px;
                    // border: 1px solid black;
                    // cursor: pointer;


                    // margin: auto;
                    padding: 7px 13px;
                    font-size: 18px;
                    border-radius: 5px;
                    cursor: pointer;
                    background-color: blue;
                    color: white;
                    border: none;

                    &:hover {
                        color: white;
                        background-color: $background-color;
                        border-color: $background-color;
                    }
                }

                .button.close {
                    color: white;
                    background-color: red;
                    margin-left: 10px;
                }
            }

        }
    }
}