* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.student-container {
    .button-section {
        display: flex;
        justify-content: end;

        .form-button {
            margin: 10px;
            background-color: dodgerblue;
            border-radius: 20px;
        }
    }
}