.login-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 

    .form{
        width: 450px;
        height: 450px;
        border-radius: 13px;
        background-color: honeydew;

        .login-form-heading{
            color: white;
            background-color: aqua;
            padding: 5px;
            text-align: center;
        }
        form{
            padding: 3px 20px;

            .form-group{
                position: relative;
                margin-top: 50px;

                .label{
                    font-size: 18px;
                    color: rgb(92, 89, 88);
                    position: absolute;
                    bottom: 17px;
                    left: 10px;
                    transition: all 0.3s ease-in 0s;
                    transform-origin: left top;

                }
                &.active .label{
                    bottom: 100%;
                    font-size: 16px;
                }

                .text{
                    width: 100%;
                    padding: 12px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    font-size: 17px;
                }
                .error{
                    color: red;
                }
            }
        }
        input[type=submit] {
            width: 100%;
            background-color: blue;
            color: white;
            padding: 12px 20px;
            margin: 35px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 20px;
          }
    }
}