$background-color:#3af7f7;

.success-btn{
    color: white;
    background-color: green;
    margin-right: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.delete-btn{
    background-color: red;
    color: white;
    margin-right: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
} 
.close-button {
    position: absolute;
    top: 12px;
    right: 20px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} 